<style>
  div.a{
    text-align: center;
  }
</style>
<div class="a">
<h1 >Sign Up</h1>
</div>
<form accept-charset=utf-8 (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
  <div class="a">
    <label class="form-label">Account Name</label>
    <input type="text" id="AccountName" class="form-control form-control-lg" placeholder="AccountName"
           ngModel name="Account Name" />
  </div>
  <div class="a">
    <label class="form-label">Email</label>
    <input type="text" id="Email" class="form-control form-control-lg" placeholder="Email"
           ngModel name="Email" />
  </div>
  <div class="a">
    <label class="form-label">Password</label>
    <input type="password" id="password" class="form-control form-control-lg" placeholder="password"
           ngModel name="password" />
  </div>
  <div class="a">
    <label class="form-label">Role:</label>
    <input type="checkbox" id="role1" id="User" value="User"/>
    <label for="role1">User</label>
    <input type="checkbox" id="role2" id="Expert" value="Expert"/>
    <label for="role2">Expert</label>
    <input type="checkbox" id="role3" id="Admin" value="Admin"/>
    <label for="role3">Admin</label>
  </div>
  <div class="a">
  <button class="btn btn-primary btn-lg btn-block" type="submit"
          [disabled]="!myForm.form.valid">Sign Up</button>
  </div>
</form>

<!-- [disabled]="!myForm.form.valid" -->
<!-- class="btn btn-primary btn-lg btn-block" -->
